<html>
	<head>
		<link href='//fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
	    <link
	        rel="stylesheet"
	        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	        crossorigin="anonymous">
	    </link>
	    <link rel="stylesheet" href="/stylesheets/style.css">

	    <script
	      src="https://code.jquery.com/jquery-3.3.1.min.js"
	      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	      crossorigin="anonymous">
	    </script>

	    <script
	        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
	        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
	        crossorigin="anonymous">
	    </script>

		<link rel="icon"
	          type="image/png"
	          href="/images/favicon.jpg">

	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Sean's Bike Shop</title>
	</head>

	<body>
		<nav class="navbar navbar-light">
		  <a class="navbar-brand" href="#" style="line-height: 30px;">
		    <img src="/images/bike-logo.png" height="30" class="d-inline-block align-top" alt="" loading="lazy">
		    &nbsp;&nbsp;Sean's Bike Shop
		  </a>
		</nav>

		<div class="header">&nbsp;</div>

		<div class="container">
			<div class="row chat-container">
				<div class="col-12">
					<div class="text-center">
						<img src="/images/business-messages-icon.png" style="width: 50px;" />
					</div>
					<div class="text-center mt-2">
						<h4>CHAT WITH SEAN'S BIKE SHOP</h4>

						<p class="sub-title">Book an appointment for a repair or tune-up</p>
					</div>

					<div class="text-center mt-4">
						<a href="https://business.google.com/initiateBusinessChat?args=CigIAxIkMzJlNWNlYzctMDIwOS00NTg1LTg2MWUtNjUyZWNlZjllYmZlYgd3ZWJ2aWV3aiJodHRwOi8vYnVzaW5lc3NtZXNzYWdlcy5nb29nbGUuY29tckIIAxIkMzJlNWNlYzctMDIwOS00NTg1LTg2MWUtNjUyZWNlZjllYmZlGgpjYy1saXN0aW5nIgw5Njg2MTA1NTQ1NDCaAYsBChJjYy1saXN0aW5nX2NvbnRleHQSdQo4dHlwZS5nb29nbGVhcGlzLmNvbS9jaGF0LmJvdC5wbGF0Zm9ybS5CdXNpbmVzc0h1YkNvbnRleHQSOUgIWiQKGG92ZXJyaWRlX2NybV9lbnRyeV9wb2ludBIIVEVTVF9VUkxaDwoHaXNfdGVzdBIEdHJ1ZQ&hl=en" class="btn chat-btn">Chat Now</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>